*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}
header,footer{
    background-color: white ;
    height: 100px;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}
header small{
    font-weight: bold;
}
#my-btn, #difficulty{
    padding: 3px 10px;
}
.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;

}
.logo{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
/* main */
.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}
.div-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
}
.div-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
}
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: rgb(200, 41, 54);
}
#score{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
img{
    display: block;
    width: 80px;
}